<div>
    <input type="hidden" ng-model="log.id"/>
    <div class="form-group col-md-4">
        <label for="re_password">
            Date
        </label>
        <input type="password" class="form-control" ng-model="log.logdate" />
    </div>
    <div class="form-group col-md-4">
        <label for="email">
            Minutes
        </label>
        <input type="email" class="form-control" ng-model="log.logminutes" />
    </div>
    <div class="form-group col-md-4">
        <label for="password">
            Type
        </label>
        <select class="form-control" ng-model="log.type">
            <option value='0'>Please Select...</option>
            <option value='1'>Billable</option>
            <option value='2'>Non-Billable</option>
        </select>
    </div>
    <div class="form-group col-md-12">
        <label for="email">
            Log
        </label>
        <input type="email" class="form-control" ng-model="log.log" />
    </div>
    <div class="col-md-12">
        <button type="submit" class="btn btn-default">
            Save Log
        </button>
    </div>
</div>
