<div class="col-md-12">
    <h3 ng-show="task.id">编辑任务</h3>
    <h3 ng-hide="task.id">添加任务</h3>
</div>
<form novalidate name="newTaskForm" ng-submit="saveTask()">
    <div class="form-group col-md-6">
        <label for="password">
            选择项目
        </label>
        <select ng-change="changeProject()" required class="form-control" ng-model="task.project" ng-options="pro as pro.project.name for pro in proUserTeam | orderBy : 'project.name'" name="project">
        </select>
        <div ng-messages="newTaskForm.project.$error" ng-if="newTaskForm.$submitted || newTaskForm.project.$touched">
            <span class="error" ng-message="required">*请选择项目</span>
        </div>
    </div>
    <div class="form-group col-md-12">
        <label for="account">
            标题
        </label>
        <input required ng-maxlength="150" type="text" class="form-control" ng-model="task.name" name="name" />
        <div ng-messages="newTaskForm.name.$error" ng-if="newTaskForm.$submitted || newTaskForm.name.$touched">
            <span class="error" ng-message="required">*请填写标题</span>
            <span class="error" ng-message="maxlength">*标题最大长度150</span>
        </div>
    </div>
    <!-- 动态显示状态的负责人 -->
    <div class="form-group col-md-6" ng-repeat="sta in task.status_table | orderBy : sta.sequence_order">
        <label>{{sta.status_name}} 负责人</label>
        <select required class="form-control" ng-model="sta.user_id" ng-options="qa.id as qa.last_name+' '+qa.first_name for qa in taskUserList" name="{{sta.status_name}}">
        </select>
        <div ng-messages="newTaskForm[sta.status_name].$error" ng-if="newTaskForm.$submitted || newTaskForm[sta.status_name].$touched">
            <span class="error" ng-message="required">*请选择负责人</span>
        </div>
    </div>
    <div class="form-group col-md-6">
        <label for="password">
            预估时间
        </label>
        <div class="input-group">
            <input required type="number" class="form-control" ng-model="task.estimated_time" name="time" />
            <span class="input-group-addon">分钟</span>
        </div>
        <div ng-messages="newTaskForm.time.$error" ng-if="newTaskForm.$submitted || newTaskForm.time.$touched">
            <span class="error" ng-message="required">*请预估时间</span>
        </div>
    </div>
    <div class="form-group col-md-6">
        <label for="password">
            状态
        </label>
        <select required class="form-control" ng-model="task.status_id" ng-options="status.id as status.name for status in task.project.status_list | orderBy : status.sequence_order" name="status_id">
        </select>
        <div ng-messages="newTaskForm.status_id.$error" ng-if="newTaskForm.$submitted || newTaskForm.status_id.$touched">
            <span class="error" ng-message="required">*请选择当前状态</span>
        </div>
    </div>
    <div class="form-group col-md-12">
        <label>介绍</label>
        <textarea class="form-control" ng-model="task.description" rows="6"></textarea>
    </div>
    <div class="form-group col-md-12">
        <button type="submit" class="btn btn-primary">保存</button>
        <a ui-sref="app.task" class="btn btn-default">取消</a>
    </div>
</form>
