<div class="col-md-12">
    <h3>我的任务</h3>
</div>
<form novalidate name="seachTaskFrom">
    <div class="form-group col-md-4">
        <label for="password">
            选择项目
        </label>
        <select class="form-control" ng-model="search.selectedProject" ng-options="pro.project.name for pro in proUserTeam">
            <option value="">All</option>
        </select>
    </div>
    <div class="form-group col-md-4">
        <label for="password">
            选择状态
        </label>
        <select class="form-control" ng-model="search.item_status_id" ng-options="prostat.id as prostat.name for prostat in search.selectedProject.status_list">
            <option value="">All</option>
        </select>
    </div>
    <div class="form-group col-md-4">
        <label for="password">
            选择用户
        </label>
        <select class="form-control" ng-model="search.manager_id" ng-options="user.id as user.last_name+' '+user.first_name for user in taskUserList">
            <option value="">All</option>
        </select>
    </div>
    <!-- <div class="form-group col-md-4">
        <label for="password">
            指派类型
        </label>
        <select class="form-control" ng-model="search.assign_type" ng-options="t.code as t.name for t in assignTypes">
        </select>
    </div> -->
    <div class="form-group col-md-4">
        <label for="account">
            标题/介绍
        </label>
        <input type="text" class="form-control" ng-model="search.item_name" />
    </div>
    <div class="form-group col-md-4">
        <label for="account">
            任务序号
        </label>
        <input type="text" class="form-control" ng-model="search.item_id" />
    </div>
    <div class="form-group col-md-12">
        <button ng-click="searchTask()" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> 搜索</button>
    </div>
</form>
<div class="col-md-12" ng-show="searched_tasks.length">
    <table class="table table-bordered">
        <tr>
            <th>序列号</th>
            <th>项目</th>
            <th>任务</th>
            <th>当前状态</th>
            <th>负责人</th>
            <th>操作</th>
        </tr>
        <!-- <tr ng-repeat="(key, v) in searched_tasks | limitTo:search.pageSize:(search.currentPage-1)*search.pageSize"> -->
        <tr ng-repeat="(key, v) in searched_tasks">
            <td title="点击查看详情"><a ui-sref="app.task_detail({taskid:v.item_id})">{{v.item_id}}</a></td>
            <td>{{v.project_name}}</td>
            <td>{{v.item_name}}</td>
            <td>{{v.item_status_name}}</td>
            <td>{{v.manager_full_name}}</td>
            <td><a ui-sref="app.task_edit({taskid:v.item_id})"><span class="glyphicon glyphicon-edit"></span> 编辑</a></td>
        </tr>
    </table>
    <!-- 分页组件 -->
    <ul uib-pagination ng-show="search.totalItems" total-items="search.totalItems" items-per-page="search.pageSize" class="pagination-sm" boundary-link-numbers="true" ng-change="pageChanged()" ng-model="search.currentPage"></ul>
</div>
<div class="col-md-12" ng-hide="searched_tasks.length">
    <h3>没有对应的结果</h3>
</div>
