<header></header>
<div class="col-md-4 col-md-offset-4">
    <div class="form-group">
        <label for="account">
            Account
        </label>
        <input type="text" class="form-control" id="account" />
    </div>
    <div class="form-group">
        <label for="email">
            Email address
        </label>
        <input type="email" class="form-control" id="email" />
    </div>
    <div class="form-group">
        <label for="password">
            Password
        </label>
        <input type="password" class="form-control" id="password" />
    </div>
    <div class="form-group">
        <label for="re_password">
            Confirm Password
        </label>
        <input type="password" class="form-control" id="re_password" />
    </div>
    <button type="submit" class="btn btn-success">
        Sign Up
    </button>
    <button ui-sref='login' type="submit" class="btn btn-default">
        Sign In >>
    </button>
</div>
