/* app css stylesheet */


/*menu*/
.menu p{
  margin: 0px;
}

.menu .list-group-item:hover{
  background-color: #ccc;
}

.menu .list-group-item{
  padding: 0px;
}

.menu .list-group-item p{
  padding: 10px 15px;
}

.menu .current{
  background-color: #CCC !important;
}

.error{
    color:#f44336;
}