<div style="margin-left: -15px;">
    <input type="hidden" ng-model="log.id" />
    <div class="form-group col-md-4">
        <label for="re_password">
            工作日期
        </label>
        <input type="password" class="form-control" ng-model="log.logdate" />
    </div>
    <div class="form-group col-md-4">
        <label>
            时长
        </label>
        <div class="input-group">
            <input class="form-control" ng-model="log.logminutes" />
            <span class="input-group-addon">分钟</span>
        </div>
    </div>
    <div class="form-group col-md-4">
        <label for="password">
            时长类型
        </label>
        <select class="form-control" ng-model="log.type">
            <option value='0'>Please Select...</option>
            <option value='1'>Billable</option>
            <option value='2'>Non-Billable</option>
        </select>
    </div>
    <div class="form-group col-md-12">
        <label>
            日志内容
        </label>
        <input class="form-control" ng-model="log.log" />
    </div>
    <div class="form-group col-md-12" style="text-align: left">
        <label> </label>
        <button type="submit" class="btn btn-primary"> 保存 </button>
        <button class="btn btn-default"> 取消 </button>
    </div>
</div>
