<div ng-controller="TeamCtrl as $ctrl">
    <div class="col-md-12" style="border:1px solid #ccc;margin-bottom:20px;" ng-repeat="x in [1,2,3]">
        <h3> {{team.name}} Max团队</h3>
        <h3> {{team.cdoe}} MaX</h3>
        <p>{{team.description}} Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small></p>
        <p><b>团队成员：</b><span ng-repeat="user in [10000000,20000000,30000000,40000000]" class="label label-default" style="margin-left:10px;">{{user}}</span></p>
        <p><b>团队项目：</b><span ng-repeat="project in [10011111,20011111,30011111,40011111]" class="label label-default" style="margin-left:10px;">{{project}}</span></p>
        <p>
            <a href="javascript:void(0)" ng-click="$ctrl.open()" class="btn btn-default">编辑</a>
            <a href="javascript:void(0)" ng-click="$ctrl.open()" class="btn btn-default">删除</a>
            <a href="javascript:void(0)" ng-click="$ctrl.open()" class="btn btn-default">添加成员</a>
            <a href="javascript:void(0)" ng-click="$ctrl.open()" class="btn btn-default">删除成员</a>
        </p>
    </div>
</div>
