<div class="col-md-12">
    <h3 ng-show="team.id">编辑团队</h3>
    <h3 ng-hide="team.id">添加团队</h3>
</div>
<form novalidate name="newteamForm" ng-submit="saveTeam()">
    <div class="form-group col-md-6">
        <label for="account">
            团队名称
        </label>
        <input name="team_name" required ng-maxlength="50" type="text" class="form-control" ng-model="team.name" />
        <span class="error" ng-show="newteamForm.$submitted && newteamForm.team_name.$error.required">*请填写团队名称</span>
        <span class="error" ng-show="newteamForm.$submitted && newteamForm.team_name.$error.maxlength">*最大长度50</span>
    </div>
    <div class="form-group col-md-6">
        <label for="account">
            团队代号
        </label>
        <input type="text" name="code" ng-maxlength="50" required class="form-control" ng-model="team.code" />
        <span class="error" ng-show="newteamForm.$submitted && newteamForm.code.$error.required">*请填写团队代号</span>
        <span class="error" ng-show="newteamForm.$submitted && newteamForm.code.$error.maxlength">*最大长度50</span>
    </div>
    <div class="form-group col-md-12">
        <label for="email">
            团队简介
        </label>
        <textarea rows="6" name="description" ng-maxlength="2000" class="form-control" ng-model="team.description"></textarea>
        <span class="error" ng-show="newteamForm.$submitted && newteamForm.description.$error.required">*请填写团队简介</span>
        <span class="error" ng-show="newteamForm.$submitted && newteamForm.description.$error.maxlength">*最大长度2000</span>
    </div>
    <div class="col-md-12">
        <button type="submit" class="btn btn-primary">
            保存
        </button>
        <a class="btn btn-default" ui-sref="app.team">
        取消
    </a>
    </div>
</form>
