<div class="col-md-12">
    <h3 ng-show="project.id">编辑项目</h3>
    <h3 ng-hide="project.id">添加项目</h3>
</div>
<form novalidate name="newProjectForm" ng-submit="saveProject()">
    <div class="form-group col-md-6">
        <label for="account">
            选择团队
        </label>
        <select class="form-control" ng-model="project.team_id" required >
            <option ng-repeat="team in teamlist" value="{{team.id}}">{{team.name}}</option>
        </select>
        <span class="error" ng-show="newProjectForm.$submitted && newProjectForm.team_id.$error.required">*请填写项目代号</span>
    </div>
    <div class="form-group col-md-6">
        <label for="account">
            项目名称
        </label>
        <input type="text" class="form-control" ng-model="project.name" required ng-maxlength="50" />
        <span class="error" ng-show="newProjectForm.$submitted && newProjectForm.name.$error.required">*请填写项目代号</span>
        <span class="error" ng-show="newProjectForm.$submitted && newProjectForm.name.$error.maxlength">*最大长度50</span>
    </div>
    <div class="form-group col-md-12">
        <label for="email">
            项目简介
        </label>
        <textarea rows="6" class="form-control" ng-model="project.description" required ng-maxlength="2000"></textarea>
        <span class="error" ng-show="newProjectForm.$submitted && newProjectForm.description.$error.required">*请填写项目代号</span>
        <span class="error" ng-show="newProjectForm.$submitted && newProjectForm.description.$error.maxlength">*最大长度2000</span>
    </div>
    <div class="form-group col-md-12">
        <label for="email">
            任务流程步骤表
        </label>
        <button style="margin-left: 30px;" ng-click="addTaskStatus()" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
        <div class="form-group form-inline" ng-repeat="s in project.status_list | orderBy : sequence_order" style="margin-top:10px;">
            <div class="input-group">
                <input type="text" ng-model="s.name" class="form-control" required ng-maxlength="50" />
                <span class="input-group-addon">步骤 {{$index+1}}</span>
            </div>
            <button style="margin-left: 30px;" ng-click="delTaskStatus($index)" class="btn btn-default"><span class="glyphicon glyphicon-minus"></span></button>
        </div>
    </div>
    <div class="col-md-12">
        <button type="submit" class="btn btn-primary">
            保存
        </button>
        <a ui-sref="app.project" class="btn btn-default">取消</a>
    </div>
</form>
