<div class="col-md-12">
    <h3>Project List</h3>
</div>
<div class="form-group col-md-4">
    <label for="account">
        Project Name
    </label>
    <input type="text" class="form-control" id="account" />
</div>
<div class="form-group col-md-4">
    <label for="account">
        Project Code
    </label>
    <input type="text" class="form-control" id="account" />
</div>
<div class="form-group col-md-4">
    <button type="submit" class="btn btn-default" style="margin-top: 25px;">
        <span class="glyphicon glyphicon-search"></span> Search
    </button>
</div>
<div class="form-group col-sm-12">
    <a class="btn btn-primary" href="#!/project/new">
        <span class="glyphicon glyphicon-plus"></span> New
    </a>
</div>
<div class="col-md-12">
    <table class="table table-bordered" style="margin-top: 10px;">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Project Name
                </th>
                <th>
                    Project Code
                </th>
                <th>
                    Description
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="project in projectlist">
                <td>
                    <a href="#!/project/projectid/{{project.id}}">{{project.id}}</a>
                </td>
                <td>
                    {{project.name}}
                </td>
                <td>
                    {{project.projectCode}}
                </td>
                <td>
                    {{project.description}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
